.size-1-2 {
  width: 16.67%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 200%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-1-3 {
  width: 16.67%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 300%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-2-2 {
  width: 33.33%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 100%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-2-3 {
  width: 33.33%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 150%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-3-2 {
  width: 50%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 66.66%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-3-3 {
  width: 50%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 100%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-3-4 {
  width: 50%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 133.33%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-4-2 {
  width: 66.66%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 50%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-4-3 {
  width: 66.66%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 75%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.size-4-4 {
  width: 66.66%;
  
  &:before {
    content: "";
    float: left;
    padding-bottom: 100%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}